[submodule "mongo"]
	path = mongo
	url = https://github.com/mongodb/mongo.git
[submodule "mongo-rocks"]
	path = mongo-rocks
	url = https://github.com/Terark/mongo-rocks.git
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/Terark/rocksdb.git
[submodule "terark-zip-rocksdb"]
	path = terark-zip-rocksdb
	url = https://github.com/Terark/terark-zip-rocksdb.git
